:root {
	--nav-height: 7rem;
	--clr-text: hsl(188 100% 7%);
	--clr-bg: hsl(188 0% 95%);

	--clr-primary: hsl(153 39% 30%);
	--clr-secondary: hsl(153 39% 41%);
	--clr-accent: hsl(149 56% 77%);
	--clr-white: hsl(0 0% 95%);
	--clr-gray: hsl(188 0% 20%);

	/* primary: "#001f24",
    secondary: "#3f906b",
    accent: "#a3e5c3",
    background: {
        "primary": colors.stone[100],
        "soft": "#f1f2f2",
        "contrast": colors.neutral[200],
        "primary-dark": "#0a1111",
        "soft-dark": "#0A1414",
        "contrast-dark": "#0D1919",
    },
    hover: colors.neutral[200],
    active: colors.zinc[200],
    disabled: "#D1D5DB",
    divider: colors.zinc[200],
    txt: {
        "primary": colors.gray[700],
        "header": "#0a0a0a",
        "hover": colors.gray[400],
        "primary-dark": colors.neutral[100],
    }, */

	/* BREAKPOINTS: {
        phone-sm: 320;
        phone: 480px;
        tablet: 768px;
        tablet-lg: 1024px;
        laptop: 1200px;
        desktop: 1440px;
    } */

	/* @media (prefers-color-scheme: dark) {
		--clr-text: hsl(0, 0%, 95%);
		--clr-text-light: hsl(0, 0%, 82.5%);
		--clr-bg: hsl(188, 100%, 7%);
		} */
}

html {
	scroll-behavior: smooth;
	font-family: "Lato", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variant: normal;
	scroll-behavior: smooth;
	font-size: 62.5%;
	box-sizing: border-box;
	color-scheme: light dark;
}

* {
	font-variant-ligatures: no-common-ligatures;
	line-height: inherit;
	scrollbar-width: thin;
	scrollbar-color: var(--clr-text) var(--clr-bg);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-size: 1.4rem;
	background-color: var(--clr-bg);
	color: var(--clr-text);
	margin: 0;
	padding: 0;
	-webkit-transition: background-color 100ms linear;
	-ms-transition: background-color 100ms linear;
	transition: background-color 100ms linear;

	&[data-theme="dark"] {
		--clr-text: hsl(0 0% 95%);
		--clr-bg: hsl(153 5% 6%);
	}

	& main header {
		margin-top: 4rem;
	}
}

img,
svg,
video {
	max-width: 100%;
	height: auto;
	display: block;
}

/* h1,
h2,
h3 {
	color: var(--clr-primary);
} */

/* Fix for collapsing margins */
/* body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
dl,
dd,
dt,
figure,
pre,
table,
fieldset,
legend,
hr {
	margin: 0;
	padding: 0;
} */

.content-grid {
	display: grid;
	grid-template-columns:
		[full-width-start] 1fr [breakout-start] 80px [content-start] minmax(min-content, 800px)
		[content-end] 80px [breakout-end] 1fr [full-width-end];
	align-content: flex-start;
}

.content-grid > .full-width-container,
.content-grid > .full-width-breakout-container {
	grid-column: full-width;
	display: grid;
	grid-template-columns: inherit;
	align-content: flex-start;
}

.content-grid > .breakout-container,
.full-width-breakout-container > .container {
	grid-column: full-width;

	@media screen and (min-width: 768px) {
		grid-column: breakout;
	}
}

.content-grid > .container,
.full-width-container > .container {
	grid-column: full-width;

	@media screen and (min-width: 768px) {
		grid-column: content;
	}
}

.content-grid > .container,
.content-grid > .breakout-container,
.full-width-container > .container,
.full-width-breakout-container > .container {
	padding: 2rem;
	height: inherit;
}

/* .container :first-child {
	margin-top: 0;
} */

.hidden {
	display: none;
	visibility: hidden;
}
